.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .icon {
    cursor: pointer;
    position: relative;

    +.icon {
      margin-left: 10px;
    }
  }

  .--line-through {
    text-decoration: line-through;
  }
}
