
<div class = "todo-item"
     *ngIf = "task">

  <mat-checkbox [checked] = "task.completed" (change) = "onCheckboxChange($event)">
    <span class = "checkbox-label"
          [matTooltipDisabled] = "task.name?.length < 15"
          [matTooltip] = "task.name"
          [ngClass] = "{'--line-through': task.completed}">
      {{task.name | ellipsis: '15'}}
    </span>
  </mat-checkbox>

  <div class = "icons">
    <mat-icon class = "icon" (click) = "onEdit()">edit</mat-icon>
    <mat-icon class = "icon" (click) = "onDelete()">close</mat-icon>
  </div>
</div>
